.customers{
    @include flexCenter;
    width: 100%;
    flex-direction: column;
    background-color: #FAF8FC;
    padding-bottom: 10rem;
    h1{
        width: 80rem;
        padding: 5rem 0 8rem 0;
        font-size: 3.2rem;
        font-weight: 400;
        font-weight: bold;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top:28%;
            left: 0;
            width: 21rem;
            height: 5px;
            background-color:#948CA1;

            @media only screen and (max-width: $bp-large) {
              left: 33%;
              
              } 
              @media only screen and (max-width: $bp-medium) {
                display: none;
                } 
                
        }

        @media only screen and (max-width: $bp-largest) {
           text-align: center;
           margin: 2rem 0;
           width: 100%;
           }

          
       
    }
  
 
}

.swiper-container {
     width: 100%;
     padding-bottom: 5rem;
     overflow-y: hidden;
}
  .swiper-slide {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;

  }