.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90px ;
    background-color: #715899;
    display: flex;
    justify-content: center;
    padding: 0 80px;
    transition: all .3s;

    @media only screen and (max-width: $bp-medium) {
        
        width: 100vw;
        height: 80px;
        position: initial;
    }


    .logo{
      margin-right: 13rem;
      @media only screen and (max-width: $bp-medium) {
        display: none;
        
        
    }
      
        img{
            height: 40px;
            margin-top: 20px;
            
        }



    }
  
    .navigation{
        list-style-type: none;
        display: flex;
        margin-right: 10px;
        margin-top: .7rem;
       
        @media only screen and (max-width: $bp-medium) {
            display: none;
            // width: 100vw;
            // margin-top: 2rem;
            
        }
       
     
        li{
            
            padding-right: 2.5rem;
            @media only screen and (max-width: $bp-largest) {
                padding: 1rem;
            }
            // @media only screen and (max-width: $bp-medium) {
               
            //     display: block;
            //     width: 100vw;
            //     text-align: center;
                
                
                
            // }
       

        }
        a{
            color: white;
            text-decoration: none;
            font-weight: 400;
            font-size: 1.4rem;
            transition: .2s;
           
            @media only screen and (max-width: $bp-largest) {
                font-size: .8rem;
            }

            &:hover{
                border-bottom: 2px solid white;
            }
        }

    }
}
