.noise{
    @include flexCenter;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding:0;
    overflow: hidden;
    
}
.video-content{
    min-width: 100%;
    min-height:100%;
    z-index: -1;
    position: relative;
    overflow: hidden;



}
