*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    // visibility: hidden;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 1.5;
    font-size: 10px;
    visibility:hidden;

    
}




// @media only screen and (max-width: $bp-smallest) {
//     order: 1;
//     flex: 0 0 100%;
//     background-color: var(--color-grey-light-2);
// }